doctype
html(lang=config.language)
    head
        include head.pug
    body
        .wrap
            header
                //- a.logo-link(href=url_for() title=config.title)
                    img.logo-image(src=url_for(theme.logo) alt='logo')
                h1.branding
                    a(href=url_for(), title=config.title)
                        if theme.logo
                            img.logo-image(src=url_for(theme.logo), alt='logo')
                        else
                            = config.title
                include nav.pug
            main.container
                block container
            footer
                block pagination
                block copyright
        include scripts.pug
